.descricao-produto {
    background-color: black;
    color: yellow;
    margin: 50px;
    padding: 10px;
    border: solid 5px red;
}

.promocao {

    border: solid 5px goldenrod;
}

h2{

border-radius: 20px;
border: solid 2px black;
background-color: red;
padding: 10px;
margin: 50px;

}

body {
    background-color: green;
    border: solid 5px;
    margin: 100px;
    padding: 50px;
}